body {
    text-align: center;
}
.btn {
    border: 10px solid black;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 1rem;
    
}
.btn-container {
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(234, 67, 53);
}
.yellow{
    background-color: rgb(251, 188, 5);
}
.green{
    background-color: rgb(52, 168, 83);
}
.blue{
    background-color: rgb(66, 133, 244);
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: black;
}
